<footer>

    <div class="container-fluid">

        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">About us</a>
                </h6>
            </div>
            
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Products</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Awards</a>
                </h6>
            </div>

        </div>
        
        <hr class="rgba-white-light" style="margin: 0 15%;">

        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

            <div class="col-md-8 col-12 mt-5">
                <p>“Sempre nos definimos pela capacidade de superar o impossível. Contamos esses momentos em que ousamos
                    almejar mais alto, quebrar barreiras, alcançar as estrelas, fazer o desconhecido conhecido. Contamos
                    esses momentos como nossas conquistas de maior orgulho. Mas perdemos tudo isso, ou talvez, apenas,
                    tenhamos esquecido que ainda somos pioneiros, que mal começamos e que nossas maiores realizações não
                    podem ficar para trás, porque nosso destino está acima de nós.”</p>
            </div>

        </div>

        <hr>

    </div>

    <div class="footer-copyright text-center">
        © 2022 Copyright:Geovani Gleidson
    </div>

</footer>