<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-6 fundo"></div>

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <h1 class="text-center corTitulo">Criando conta...</h1>

                    <hr class="mt-1 mb-3">

                    <form>
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput"
                                placeholder="Digite o nome aqui....">
                            <label for="floatingInput">Nome</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="link" class="form-control" id="floatingInput"
                                placeholder="Insira link da foto aqui...(opcional)">
                            <label for="floatingInput">Foto de perfil</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword"
                                placeholder="Digite a senha aqui...">
                            <label for="floatingPassword">Senha</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword"
                                placeholder="Digite a senha aqui...">
                            <label for="floatingPassword">Confirmar senha</label>
                        </div>

                        <div class="form-group">
                            <label for="tipo">Tipo de usuário</label>
                            <select class="form-control" name="tipo" id="tipo">
                                <option>Selecione um tipo de usuário</option>
                                <option value="normal">Leitor</option>
                                <option value="adm">Administrador</option>
                            </select>
                        </div>

                        <hr class="mt-1 mb-3">

                        <div class="d-flex justify-content-center mb-2">
                            <button class="btn text-uppercase mr-4 ml-4" routerLink="/logar">Voltar</button>
                            <button class="btn btnColor text-uppercase mr-4 ml-4">Criar</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</div>