.btnEdit{
    background-color: rgba(0, 112, 97, 0.959);
    color: rgba(211, 181, 205, 0.904);
    font-weight: bold;
}
.btnBack{
    background-color: rgba(114, 0, 91, 0.952);
    color: rgba(173, 204, 200, 0.918);
    font-weight: bold;
}

.btnEdit:hover{
    background-color: rgb(22, 139, 124);
    color: rgb(223, 203, 219);
    font-weight: bold;
    font-size: 1.04rem;
}
.btnBack:hover{
    background-color: rgb(141, 24, 118);
    color: rgb(196, 218, 215);
    font-weight: bold;
    font-size: 1.04rem;
}